

.jumbotron{
padding:0;
background-color:: transparent;

}
h1, h2, h3 {
	font-family: "Roboto"; sans-serif;
	text-transform: uppercase;
	color: yellow;
	font-weight: 100;
	text-decoration: underline;
}
p{
	color:black;
}
#guessed{
	font-weight: bold;
	color: yellow;


}